name: "Check PR complains with requirements"

on:
  pull_request_target:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  reviewdog:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version-file: .java-version
    - name: Validate Gradle Wrapper
      uses: gradle/actions/wrapper-validation@v5
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: wrapper
    - name: Setup format tools
      run: |
        export KTLINT_VERSION=1.3.1
        mkdir -p ${HOME}/.local/bin
        echo "Installing ktlint $KTLINT_VERSION"
        curl -sSLO "https://github.com/pinterest/ktlint/releases/download/$KTLINT_VERSION/ktlint" && chmod a+x ktlint && mv ktlint ${HOME}/.local/bin/
        ktlint --version
    - name: 'Checkout PR'
      uses: actions/checkout@v6
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Setup reviewdog
      uses: reviewdog/action-setup@v1
      with:
        reviewdog_version: latest
    - name: Run reviewdog ktlint
      run: >
        ktlint '**/*.kt' '**/*.kts' '!**/build/generated*/**' |
        reviewdog -tee -reporter=github-pr-review -log-level=debug -efm="%f:%l:%c: %m" -name=ktlint
      env:
        REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
